.header {
    background-color: var(--bg-oxford-blue-2);
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo img {
    width: 119px;
    height: 37px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 20px;
    padding: .3rem 1rem;
    opacity: 0;
    animation: slideUp 0.5s ease-in-out forwards;
}

.navbar-link {
    color: var(--text-alice-blue);
    text-decoration: none;
    font-weight: var(--weight-medium);
    transition: var(--transition-1);
    /* animation: slideUp 0.5s ease-in-out; */
}

@keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .btn-primary-hidden {
    opacity: 0;
  }

.btn.btn-primary {
    background-image: var(--gradient-2);
    background-size: 200%;
    background-position: left;
    color: var(--white);
    font-size: var(--fontSize-6);
    font-weight: var(--weight-bold);
    max-width: max-content;
    padding: 8px 16px;
    border-radius: var(--radius-6);
    transition: var(--transition-1);

    transition: opacity 0.5s ease;
    /* opacity: 0; 
    animation: fadeIn 0.5s ease-in-out forwards; */
}

@keyframes fadeIn {
    to {
      opacity: 1; /* Gradually make the button visible */
    }
  }

.btn.btn-primary:hover {
    background-position: right;
}

.navbar-link:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
    transform: translateX(0);
}

.sign-in {
    gap: .5rem;
    margin-right: 50px;
}



/* Delay the animation for each list item */
.menu li:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .menu li:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .menu li:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  .menu li:nth-child(4) {
    animation-delay: 0.4s;
  }
  
  .menu li:nth-child(5) {
    animation-delay: 0.5s;
  }