
/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 16px; }

.hover-1,
.hover-2 { transition: var(--transition-1); }

.hover-1:is(:hover, :focus-visible) { 
  color: var(--text-wild-blue-yonder);
  transform: translateX(3px);
}

.hover-2:is(:hover, :focus-visible) { color: var(--text-carolina-blue); }

.profile-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-card .profile-banner { border-radius: var(--radius-circle); }

.headline {
  color: var(--text-columbia-blue);
  line-height: var(--lineHeight-1);
}

.headline-1 {
  font-size: var(--fontSize-1);
  color: var(--text-alice-blue);
  font-weight: var(--weight-extraBold);
}

.headline-2 { font-size: var(--fontSize-2); }

.headline-3 {
  font-size: var(--fontSize-2);
  line-height: var(--lineHeight-2);
}

.section-title { margin-block-end: 10px; }

.headline .span {
  background-image: var(--gradient-1);
  display: inline-block;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn {
  background-image: var(--gradient-2);
  background-size: 200%;
  background-position: left;
  color: var(--white);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-bold);
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: var(--transition-1);
}

.btn:is(:hover, :focus-visible) { background-position: right; }

.btn-primary {
  padding: 8px 16px;
  border-radius: var(--radius-6);
}

.btn-secondary {
  padding: 18px 30px;
  border-radius: var(--radius-pill);
}

.w-100 { width: 100%; }

.card {
  background-color: var(--bg-oxford-blue);
  border: 1px solid var(--border-prussian-blue);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--bg-prussian-blue);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: var(--section-padding); }

.section-text {
  font-size: var(--fontSize-3);
  margin-block-end: 70px;
}

.grid-list {
  display: grid;
  gap: 30px;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: var(--fontSize-6);
  margin-block: 20px;
}

.card-wrapper :is(.card-tag, .wrapper) {
  display: flex;
  gap: 3px;
  align-items: center;
}
