.poem-page {
    position: relative;
    top: 100px;
    padding: 20px;
    text-align: center;
}

.poem-page h2 {
    font-size: 24px;
    color: #ff0000 !important;
    margin-bottom: 20px;
    z-index: 999999 !important;
}

.poem-page p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}